- var colors = ['red','orange','yellow','green','aqua','blue','purple','pink','brown','white'];
//- doctype html
html
  head
    meta(charset='UTF-8')
    title Drawing Pad 2.0
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/normalize.css')
    script(src='js/jquery.min.js')
    link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans|Montserrat')
    link(rel='stylesheet', href='css/style.css')
  body
    .editor
      canvas#cdraw

      canvas#cfg
    .controls
      .color
        .shades
          - for (var i=0;i<32;i++)
            .shade(class='shade-'+(i+1),data-color=colors[0])
        .hues
          - for (var i=0;i<10;i++)
            .hue(class='hue-'+(i+1),data-color=colors[i])
        .current
      .brush
        .sizes
          .size(data-size='sm')
          .size(data-size='md')
          .size(data-size='lg')
        .hardness
    .chat-window
      .chat-log
        ul
      .chat-field
        input.chat-field--input(type="text",max-length="100",placeholder="Hello!")
        button.chat-field--send Send
    .cursors
      .mycursor
    
      //- .menu--item QUIT
    script(src='/socket.io/socket.io.js')
    script(src='js/index.js')
